article {
      text-align: center;
    }
    h1 {
      color: crimson;
    }

    span {
      text-decoration: underline;
      color: darkblue;
    }
    img {
      width: 300px;
      border: 4px double pink;
    }
    p.left {
      text-align: left;
      border-left: 4px dashed blueviolet;
    }
    ol {
      text-align: left;
      color: darkgreen;
    }
    a {
      color: darkgreen;
    }
    footer {
      border-bottom: 2px dashed #000;
    }